.modal-backdrop {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-2rem);
  transition: all 250ms ease-in-out;
}

.modal-backdrop div {
  width: 60%;
  min-width: 20rem;
}

.active {
  pointer-events: unset;
  opacity: 1;
  transform: translateY(0);
}

#listing div {
  height: 33rem;
}

#listing {
  animation: apear 350ms ease-out forwards;
}

@keyframes apear {
  from {
    scale: 0.7;
  }

  to {
    scale: 1;
  }
}
