.modal-backdrop {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-2rem);
  transition: all 250ms ease-in-out;
}

.modal-backdrop > div {
  width: 70%;
  min-width: 20rem;
  max-height: 27rem;
  overflow-y: scroll;
}

.active {
  pointer-events: unset;
  opacity: 1;
  transform: translateY(0);
}

main.stop-scroll {
  margin-top: 0;
  height: 100vh;
  overflow: hidden;
}

#listing > div {
  height: 30rem;
}

#listing {
  animation: apear 350ms ease-out forwards;
}

@keyframes apear {
  from {
    scale: 0.7;
  }

  to {
    scale: 1;
  }
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.cookie-content {
  max-width: 600px;
  margin: 0 auto;
}
.accept-cookies {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}